<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356112024939-9ek76u42q141l8hb6em6mlas6538j0mr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356112024939-9ek76u42q141l8hb6em6mlas6538j0mr</string>
	<key>API_KEY</key>
	<string>AIzaSyAhfJRgvLmMhY8qCxCFmoiiZ-DPlGbVaO0</string>
	<key>GCM_SENDER_ID</key>
	<string>356112024939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mentor.mentor</string>
	<key>PROJECT_ID</key>
	<string>mentor-8b9b5</string>
	<key>STORAGE_BUCKET</key>
	<string>mentor-8b9b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356112024939:ios:5a97d41ddfa7c28101782e</string>
</dict>
</plist>